@model List<Burak_1380_MVC.Models.AdminKullanici>
@{
    ViewBag.Title = "KullaniciListe";
    Layout = "~/Areas/Yonetim/Views/Shared/_LayoutAdmin.cshtml";
}
@section tablescss{

    <link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/_all-skins.min.css" rel="stylesheet" />
}

<h2>Kullanıcı Liste</h2>
<div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 182px;">Kullanıcı Adı</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 224px;">Kullanıcı Şifre</th>
                        </tr>
                </thead>
                <tbody>
                    @foreach (var liste in Model)
                    {
                        <tr role="row" class="odd">
                            <td class="sorting_1">@liste.KullaniciAdi</td>
                            <td><div></div>@liste.KullaniciSifre</td>

                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">Kullanıcı Adı</th>
                        <th rowspan="1" colspan="1">Kullanıcı Şifre</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



@section tablesjs{
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/js/fastclick.js"></script>
    <script src="~/Content/js/demo.js"></script>
    <script>
        $(function () {
            $('#example1').DataTable()
            ({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}